@import '../../assets/scss/variables';
@import '../../assets/scss/mixin';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 999;
  transition: $transition-500ms;

  &.nav-bg {
    background-color: rgba($color: $clr-main-light, $alpha: 0.9);
    transition: $transition-500ms;
    box-shadow: $shadow;
    backdrop-filter: blur(10px);

    .container {
      height: 80px;
      transition: $transition-500ms;

      .header {
        height: 80px;
        transition: $transition-500ms;
      }
    }
  }

  .container {
    height: 120px;
    transition: $transition-500ms;

    .header {
      height: 120px;
      transition: $transition-500ms;

      .logo {
        max-width: 40px;
        width: 100%;
      }

      .btn-open {
        background-color: transparent;
        border: none;
        color: $clr-white;
        font-size: 24px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $clr-accent;
          transition: $transition;
        }
      }
    }

    .nav-white {
      background-color: $clr-white;
      height: 0;
      box-shadow: $shadow, 2px 7px 3px rgba($color: #111111, $alpha: 0.1),
        -2px 7px 3px rgba($color: #111111, $alpha: 0.1);
      margin-top: 10px;
      overflow: hidden;
      border-radius: 0 0 $radius $radius;
      transition: $transition;
      transition-delay: 0.3s;

      .nav-accent {
        background-color: $clr-accent;
        height: 28vh;
        transform: translateY(-100%);
        transition: $transition;
        transition-delay: 0.2s;

        .nav-main {
          background-color: $clr-main-light;
          height: 27vh;
          transform: translateY(-100%);
          transition: $transition;

          .links {
            text-align: center;

            .link {
              display: block;
              margin: 20px 0;
            }
          }
        }
      }

      &.show-link {
        transition-delay: 0s;

        .nav-accent {
          transform: translateY(0);
          transition-delay: 0.2s;

          .nav-main {
            transform: translateY(0);
            transition-delay: 0.3s;
          }
        }
      }
    }
  }
}

// @media (max-width: $breakpoint-ipad) {
//   .nav-main .link {
//     margin: 30px 0 !important;
//   }
// }

@media (min-width: $breakpoint-ipad) {
  .nav {
    &.nav-bg {
      .nav-white {
        height: 80px !important;
        .nav-accent {
          height: 80px !important;

          .nav-main {
            height: 80px !important;
            transition: $transition-500ms !important;
          }
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-between;

      .nav-white {
        transition-delay: 0 !important;
        margin-top: 0;
        background-color: transparent;
        box-shadow: none;
        overflow: visible;

        .nav-accent {
          transition-delay: 0 !important;
          background-color: transparent;
          transform: translateY(0);
          height: 120px;

          .nav-main {
            transition-delay: 0 !important;
            transform: translateY(0);
            height: 120px;
            background-color: transparent;
            transition: $transition-500ms;

            .links {
              display: flex;
              align-items: center;

              .link {
                &:hover {
                  color: $clr-accent;
                  transition: $transition;
                }
                margin: 0;
                margin-left: 30px;
              }
            }
          }
        }
      }

      .btn-open {
        display: none;
      }
    }
  }
}
